@page "/apiinfo"
@using MyFavoriteThings.Data;
@using MyFavoriteThings.Helpers;
@using Newtonsoft.Json;
@inject HttpClient  http
@inject NavigationManager navManager

<h3>ApiInfo</h3>

<div class="apiinfo mt-3">
    <button class="btn btn-primary btnshowapiinfo" id="btnshowapiinfo" @onclick="showApiInfo">Mostrar a info da API de Jogos</button>
    @if (isApiInfoShow)
    {
        <p class="mt-3">Api <a href="/api/jogos" target="_blank">Jogos</a>: </p>
        <pre class="code mt-3">@(JsonConvert.SerializeObject(jogos, Formatting.Indented))</pre>
    }
</div>


@code {
    bool isApiInfoShow = false;
    List<Jogo> jogos;

    protected override async Task OnInitializedAsync()
    {
        jogos = await http.GetJsonAsync<List<Jogo>>("/api/jogos");
    }

    void showApiInfo()
    {
        isApiInfoShow = !isApiInfoShow;
    }
}
