<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MyFavoriteThings</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/jogos">
                <img src="/assets/icons/game_icon.png" class="img-fluid myimgicon" /> Jogos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/filmes">
                <img src="/assets/icons/movies_icon.png" class="img-fluid myimgicon" /> Filmes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/livros">
                <img src="/assets/icons/book_icon.png" class="img-fluid myimgicon" /> Livros
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/musicas">
                <img src="/assets/icons/music_icon.png" class="img-fluid myimgicon" /> Músicas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/series">
                <img src="/assets/icons/series_tv_icon.png" class="img-fluid myimgicon" /> Séries
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/tutoriais">
                <img src="/assets/icons/tutorial_icon.png" class="img-fluid myimgicon" /> Tutoriais
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/apiinfo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Infos das Apis
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
